<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position test</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>

</head>

<body class="white-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <img src="<%= image_url("login-logo.png") %>" class="img-responsive login-logo">
            </div>
            <h2 style="margin-top: 0px; color: #000000; font-weight: 300; text-shadow: 1px 1px 1px #000000">POSITION TEST</h2>

            <p style="text-shadow: 1px 1px 1px #dddddd">Acceso</p>

            <%= form_for(:session, url: login_path, class: 'm-t') do |f| %>
                <div class="form-group">
                    <%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true %>
                </div>
                <div class="form-group">
                    <%= f.password_field :password, class: 'form-control', placeholder: 'Password', required: true  %>
                </div>
                <%= f.submit "Entrar", class: 'btn btn-primary block full-width m-b' %>
            <% end %>
            
            <p class="m-t">
                <small>
                    <% flash.each do |message_type,	message| %>
                        <span class="label label-<%= message_type %>"><%= message %></span>
                    <% end %>
                </small> 
            </p>

        </div>
    </div>

    <%= javascript_include_tag 'application' %>

</body>

</html>
