<div class="ibox float-e-margins">

    <div class="ibox-title">

        <h5>Busqueda</h5>

    </div>

   <div class="ibox-content">

       <div class="row">

           <div class="col-md-4">

               <%= form_tag(scraps_path, :method => "get", id: "search-form") do %>
                    <div class="col-md-12">
                        <div class="form-group">
                            <%= label_tag :web_url, 'URL', :class => "text-primary" %>
                            <%= text_field_tag :web_url, params[:web_url], class: "form-control input-sm", required: true %>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <button id="search-btn" class="btn btn-primary btn-block">Verificar</button>
                        </div>
                    </div>
               <% end %>

           </div>

           <br>

           <div class="col-md-8">
                <div class="table-responsive">

                    <% if @scraps.count > 0 %>
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Imagenes</th>
                                    <th>CSS</th>
                                    <th>CSS en html</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @scraps.each do |scrap| %>
                                    <tr>
                                        <td><%= scrap[:images] %></td>
                                        <td><%= scrap[:css] %></td>
                                        <td><%= scrap[:css_inside] %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    <% end %>

                </div>
           </div>
       
       </div>

    
   </div>

</div>