.img-table{
    width: 36px; 
    height: 36px;
}

.close-notice{
    color: #d3d3d3;
    margin-left: 5px;
    cursor: pointer
}

.user-photo{
    width: 60px;
    height: 60px
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

#article_dolar_value{
    color: #1c84c6;
    font-weight: bold;
    font-size: 16px
}

.black{
    color: #000000
}

.light-table{
    color: #666666
}

.trbold{
    font-weight: bold
}

.login-logo{
    margin-top: 50px
}

.admin-logo{
    margin-bottom: 20px
}

.show-modal-btn{
    margin-top: 22px
}
