<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Position test</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css"></script>
    <%= csrf_meta_tags %>

</head>

<body>

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">

            <div class="sidebar-collapse">

                <ul class="nav" id="side-menu">

                    <li class="nav-header">
                    
                        <div class="dropdown profile-element text-center">

                            <h2 style="margin-top: 0px; color: #ffffff; font-weight: 300; text-shadow: 1px 1px 1px #000000">POSITION TEST</h2>

                            <br>
                            <br>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-b-xs"><strong class="font-bold shadow"><%= session[:user_name] %></strong></span>
                                    <span class="text-xs block shadow">
                                        Administrador 
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element" style="color: #ffffff; font-weight: 300; text-shadow: 1px 1px 1px #000000">
                            
                        </div>
                    </li>

                    <li class="<%= 'active' if params[:controller] == 'scraps' %>">
                        <a href="<%= url_for(action: 'index', controller: '/scraps') %>">
                            <i class='fa fa-search shadow'></i>
                            <span class='nav-label shadow'>Nueva busqueda</span>
                        </a>
                    </li>

                </ul>

            </div>

        </nav>

        <div id="page-wrapper" class="white-bg">

            <div class="row border-bottom">
                <nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <span class="m-r-sm welcome-message">Bienvenido <%= session[:user_name] %>.</span>
                        </li>
                        <li>
                            <%=	link_to	'<i class="fa fa-sign-out"></i> Logout'.html_safe, logout_path, method: :delete %>
                        </li>
                    </ul
                </nav>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="wrapper wrapper-content">
                        <div class="row">
                            <div class="col-lg-12">
                                <%= yield %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer">
                <div class="pull-right">
                    Position test
                </div>
                <div>
                    Manuel Michelangelli &copy; 2017
                </div>
            </div>

        </div>

    </div>

    <%= javascript_include_tag 'application' %>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>

</body>

</html>
